@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root.dark {
  background-color: #020617; /* slate-950 */
  color: white;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}
